#devops
black
click
pytest
pytest-cov
#pylint
#rust based linter
ruff
boto3
# Backend
fastapi
uvicorn
# Code coverage
coverage
# Notebooks Support, data wrangling and Visualisation
ipython
jupyter
matplotlib
notebook
numpy
pandas
seaborn
scikit-learn
tqdm
scipy




